.playwrite-ar-normal {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}
:root {
  --orange1: #e6533c;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 18.5%;
}
.nav-list {
  display: flex;
  gap: 45px;
  border-width: 10px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 10px 10px 10px 0px;
}
li {
  list-style: none;
}
li > a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.home {
  background-color: var(--orange1);
  border-radius: 50px;
  padding: 8px 20px;
  margin-left: 3px;
  color: white;
}
.intro-section {
  background-color: white;
  background-image: linear-gradient(
    to top,
    #111111,
    rgba(0, 0, 0, 0.8),
    #111111
  );
}
.logo {
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--orange1);
  font-style: oblique 60deg;
}
.first-sec {
  /* margin: 0 10% 0 10%; */
  padding: 2% 18.5%;
  padding-bottom: 0%;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
}
.head-text {
  font-size: 5rem;
  font-weight: 800;
  color: white;
  margin-bottom: 5%;
  line-height: 5.5rem;
}
.shape {
  font-family: "Miama";
  font-style: italic;
  font-weight: 400;
}
.text-norm {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  line-height: 1.8rem;
}

.left {
  margin-top: 4%;
  width: 50%;
}
.right > img {
  width: 100%;
}
.pair {
  margin-top: 4%;
}
.orange {
  color: white;
  background-color: var(--orange1);
  font-size: 1.2rem;
  padding: 3% 5%;
  border-radius: 50px;
  border: none;
}
.trans {
  background-color: #111111;
  color: white;
  font-size: 1.2rem;
  padding: 3% 5%;
  border: 1px solid;
  border-radius: 50px;
}
.round {
  width: 40px;
  height: 40px;
  background-color: var(--orange1);
  border-radius: 50%;
}
.card-head {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
}
.card-norm {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
}
.right {
  position: relative;
}
.card1 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 50%;
  padding: 4% 5%;
  display: flex;
  gap: 15px;
  align-items: center;
  position: absolute;
  left: -30%;
  top: 75%;
  backdrop-filter: blur(10px);
}
.card2 {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 50%;
  padding: 4% 4%;
  padding-right: 0%;
  position: absolute;
  top: 30%;
  left: 60%;
}
.card-head2 {
  font-size: 2rem;
  font-weight: 800;
  color: white;
}
.second-section {
  background-color: black;
  padding: 4% 18.5%;
}
.second-head {
  font-weight: 800;
  font-size: 3rem;
  color: white;
  text-align: center;
}
.second-para {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 20px;
  text-align: center;
}
.second-cards {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.second-card {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 5px;
}
.second-card > img {
  width: 70%;
  border-radius: 100%;
  border: 4px solid rgb(41, 41, 41);
}
.second-card-head {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  margin-top: 2%;
}
.second-card-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 1%;
  text-align: center;
}
.third-section {
  background-color: rgba(170, 164, 164, 0.2);
  margin: 2% 17%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  border-radius: 15px;
  align-items: center;
}
.third-left {
  width: 35%;
  height: 120%;
}
.third-right {
  width: 400px;
  height: 320px;
}
.third-right img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.third-head {
  font-size: 3rem;
  font-weight: 1000;
  color: white;
}
.third-para {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 8%;
  line-height: 1.5rem;
}
.third-btn {
  margin-top: 8%;
  color: white;
  background-color: var(--orange1);
  font-size: 1.2rem;
  padding: 4% 20%;
  border-radius: 50px;
  border: none;
}
.fourth-head {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-top: 5%;
}
.fourth-sub {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  line-height: 1.5rem;
  text-align: center;
  margin-top: 1%;
}
.car-head {
  font-size: 1.2rem;
  font-weight: 700;
  color: white;
}
.card-sub {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.5);
}
.fourth-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 3% 17.5%;
  gap: 3%;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1%;
  padding-bottom: 2%;
  border-radius: 15px;
}
.card-text {
  position: relative;
  top: -55px;
  left: 5%;
}
.fourth-card {
  height: 300px;
  width: 100%;
}
.fourth-card img {
  object-fit: cover;
  object-position: center;
  filter: opacity(0.7);
  border-radius: 15px;
}
.fifth-section {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 5% 18.5%;
  justify-content: space-between;
  align-items: center;
}
.fifth-logo {
  font-size: 5rem;
  font-weight: 700;
  color: var(--orange1);
  font-style: oblique 60deg;
  margin-bottom: 5%;
}
.fitness {
  width: 35%;
}
.fifth-head {
  font-size: 2rem;
  color: white;
  margin-bottom: 25px;
}
.fifth-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5rem;
}
.get-started {
  display: grid;
}
.get-started ul {
  display: grid;
  gap: 10px;
}
footer {
  padding: 2% 18.5%;
  background-color: rgba(255, 255, 255, 0.1);
}
.foot-text {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin-top: 4%;
}
@media screen and (width>576px) {
  .hamburg {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .nav-list {
    display: none;
  }
  .first-sec {
    flex-direction: column;
  }
  .nav {
    padding: 10% 5%;
    padding-bottom: 5%;
  }
  .first-sec {
    padding: 0% 5%;
  }
  .pair {
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
  }
  .head-text {
    font-size: 3rem;
    line-height: 3rem;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    margin-top: 15%;
  }
  .card1 {
    left: 0%;
    top: 50%;
    width: 40%;
  }
  .card2 {
    left: 55%;
    top: 5%;
    width: 42%;
    height: 8%;
    padding-bottom: 7%;
  }
  .second-section {
    position: relative;
    padding: 10% 5%;
    margin-top: -30%;
    z-index: 2;
  }
  .second-head,
  .third-head,
  .fourth-head {
    font-size: 2.3rem;
  }
  .second-cards {
    padding: 10% 15%;
    flex-direction: column;
    gap: 20px;
  }
  .third-section {
    flex-direction: column;
    padding: 7% 7%;
    margin: 10% 5%;
  }
  .third-left {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .third-btn {
    width: 100%;
  }
  .third-right {
    width: 100%;
    height: 100%;
    margin-top: 10%;
  }
  .fourth-section {
    display: flex;
    flex-direction: column;
    margin: 10% 5%;
    gap: 20px;
  }
  .fifth-section {
    flex-direction: column;
    padding: 10% 5%;
    gap: 25px;
    align-items: first baseline;
  }
  .fitness {
    width: 100%;
  }
  footer {
    padding: 10% 5%;
  }
}
