.playwrite-ar-normal {
  font-family: "Playwrite AR", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: black;
}
:root {
  --orange1: #e6533c;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 18.5%;
}
.nav-list {
  display: flex;
  gap: 45px;
  border-width: 10px;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 10px 10px 10px 0px;
}
li {
  list-style: none;
}
li > a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.home {
  background-color: var(--orange1);
  border-radius: 50px;
  padding: 8px 20px;
  margin-left: 3px;
  color: white;
}
.intro-section {
  background-color: white;
  background-image: linear-gradient(
    to top,
    #111111,
    rgba(0, 0, 0, 0.8),
    #111111
  );
}
.logo {
  font-size: 2.1rem;
  font-weight: 700;
  color: var(--orange1);
  font-style: oblique 60deg;
}
.first-sec {
  /* margin: 0 10% 0 10%; */
  padding: 2% 18.5%;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
}
.head-text {
  font-size: 5rem;
  font-weight: 800;
  color: white;
  margin-bottom: 5%;
  line-height: 5.5rem;
}
.shape {
  font-family: "Miama";
  font-style: italic;
  font-weight: 400;
}
.text-norm {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1rem;
}

.left {
  margin-top: 4%;
  width: 50%;
}
.right > img {
  width: 100%;
}
.pair {
  margin-top: 4%;
}
.orange {
  color: white;
  background-color: var(--orange1);
  font-size: 1.2rem;
  padding: 15px 35px;
  border-radius: 50px;
  border: none;
}
.trans {
  background-color: #111111;
  color: white;
  font-size: 1.2rem;
  padding: 15px 35px;
  border: 1px solid;
  border-radius: 50px;
}
.round {
  width: 40px;
  height: 40px;
  background-color: var(--orange1);
  border-radius: 50%;
}
.card-head {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
}
.card1 {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  width: 50%;
  padding: 20px 15px;
  display: flex;
  gap: 15px;
  align-items: center;
  position: relative;
  left: -30%;
  top: -25%;
}
.card2 {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  padding: 15px 18px;
  position: relative;
  top: -70%;
  left: 60%;
}
.card-head2 {
  font-size: 2.8rem;
  font-weight: 800;
  color: white;
}
.second-section {
  background-color: black;
  padding: 4% 18.5%;
  margin-top: -10.6%;
}
.second-head {
  font-size: 3rem;
  color: white;
  text-align: center;
}
.second-para {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 1%;
  text-align: center;
}
.second-cards {
  display: flex;
  justify-content: space-between;
  gap: 5%;
}
.second-card {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 5px;
}
.second-card > img {
  width: 70%;
  border-radius: 100%;
  border: 4px solid rgb(41, 41, 41);
}
.second-card-head {
  font-size: 1.1rem;
  font-weight: 400;
  color: white;
  margin-top: 2%;
}
.second-card-text {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 1%;
  text-align: center;
}
.third-section {
  background-color: rgba(170, 164, 164, 0.2);
  margin: 2% 17%;
  display: flex;
  justify-content: space-between;
  padding: 3% 5%;
  border-radius: 15px;
  align-items: center;
}
.third-left {
  width: 35%;
  height: 120%;
}
.third-right {
  width: 400px;
  height: 320px;
}
.third-right img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}
.third-head {
  font-size: 3rem;
  font-weight: 1000;
  color: white;
}
.third-para {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  margin-top: 8%;
  line-height: 1.5rem;
}
.third-btn {
  margin-top: 8%;
  color: white;
  background-color: var(--orange1);
  font-size: 1.2rem;
  padding: 13px 60px;
  border-radius: 50px;
  border: none;
}
.fourth-section {
  padding: 4% 18%;
}
.fourth-para {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-top: 1%;
}
.grid1 {
  display: grid;
  margin-top: 5%;
  grid-template-columns: 24% 50% 24%;
}
.img1 {
  width: 100%;
  height: 250px;
  background-image: url(./images/exercise1.jpg);
  background-size: cover;
}
.image-overlay1 {
  background-color: rgba(6, 255, 210, 0.5);
  width: 100%;
  height: 100%;
}
.img2 {
  width: 100%;
  height: 250px;
  background-image: url(./images/exercise2.png);
  background-size: cover;
  background-position: center;
}
.image-overlay2 {
  background-color: rgba(255, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.img3 {
  width: 100%;
  height: 250px;
  background-image: url(./images/exercise3.png);
  background-size: cover;
  background-position: center;
}
.image-overlay3 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.grid2 {
  display: grid;
  grid-template-columns: 39% 25% 34%;
}
.img4 {
  width: 100%;
  height: 250px;
  background-image: url(./images/exercise4.png);
  background-size: cover;
}
.image-overlay4 {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
}
.img5 {
  width: 100%;
  height: 250px;
  background-image: url(./images/exercise5.jpg);
  background-size: cover;
}
.image-overlay5 {
  background-color: rgba(66, 255, 0, 0.3);
  width: 100%;
  height: 100%;
}
.img6 {
  width: 100%;
  height: 250px;
  background-image: url(./images/exercise6.jpg);
  background-size: cover;
}
.image-overlay6 {
  background-color: rgba(0, 71, 255, 0.3);
  width: 100%;
  height: 100%;
}
.overlay-text1 {
  font-size: 1rem;
  position: relative;
  top: 80%;
  left: 5%;
  font-weight: 500;
}
